.btn-base-orange {
  @apply btn inline-block px-6 py-3 text-[--base-orange] border-2 border-[--base-orange] rounded-xl shadow-md font-medium;
}

.btn-base-orange.pill {
  @apply rounded-3xl py-[9px] px-5 font-normal;
}

.btn-base-orange.filled {
  @apply text-white bg-gray-900 border-none;
}
.btn-base-orange.filled:hover {
  @apply bg-[--base-orange-highlight];
}