body h1 {
  @apply text-4xl font-bold;
}
body h2 {
  @apply text-2xl font-bold;
}
body h3 {
  @apply text-xl font-bold;
}

a.un-a {
  @apply opacity-100 !important;
}
a:hover {
  @apply opacity-75;
}
a:focus {
  @apply opacity-50;
}