@import url('css/colors.postcss');
@import url('css/buttons.postcss');
@import url('css/texts.postcss');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
  @apply h-full text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg bg-gray-50;
	font-family: 'Inter Variable', sans-serif;
  overscroll-behavior-y: none;
}
