@import url('css/colors.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
  @apply h-full text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg;
	font-family: 'Inter Variable', sans-serif;
}
