
a{
    color: inherit;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summary-negative{
    color: red;
    font-weight: bold;
}

.summary-positive{
    color: green;
    font-weight: bold;

}

.edit-icon {
    width: 20px;
    height: 20px;
    vertical-align: inherit;
    margin-right: 5px;
  }

.modal-container{
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(242, 233, 233, 0.5);
  padding-top: 50px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 50%; /* Could be more or less, depending on screen size */
    padding: 1rem;
  }
  
